.nav-ul li{
  margin-top: 10px;
  display: inline-block;
  padding: 10px;
}
.nav-ul li a{
  color: white;
  padding: 5px;
  text-decoration: none;
}
.nav-ul{
  
  height: 70px;
  padding: 5px;
  margin: 0;
  background-color: rgb(22,117,160);
}
.footer{
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  background-color: rgb(48,48,48);
  color: white;
}
.register,.product{
  /* margin-left: 30%; */
  text-align: center;
  margin-top: 150px;
}
.form{
     display: inline-block;
     text-align: left;
}
.login{
  /* margin-left: 30%; */
  text-align: center;
  margin-top: 150px;
}
.inputButton{
  margin: 25px;
  padding: 10px;
  width: 173px;
  cursor: pointer;
  background-color: green;
  border: 0 ;
  color: white;
   margin-left: 92px; 
  border-radius: 7%;
  
  
}
.inputBox{
  display: block;
  margin: 25px;
  padding: 7px;
  width: 300px;
  border: 1px solid skyblue;
  
}
.nav-right{
  text-align: right;
}
.logo{
  width:76px;    
  float: left;    
  border-radius: 50%;    
  height: 76px;    
  margin-top: 3px;    
  margin-left: 30px;
}
.invalid-input {
  margin-top: -27px;
  display: block;
  margin-left: 25px;
  color: red;
}
.product-list{
  text-align: center;
  margin-top: 50px;
  
}
.product-list ul{
  margin: 0;
}
.product-list ul li{
  /* list-style: none; */
  display: inline-block;
  padding: 5px;
  border: 1px solid skyblue;
  width: 150px;
}
.search-box {
  width: 400px;
  height: 40px;
  margin: 20px;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 10px;
  border: 1px solid deepskyblue;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
